.titulo-pagina{
    text-align:center;
    padding:40px 20px;
}

.productos{
    padding:30px;
}

.contenedor-productos{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.tabla-productos{
    padding:40px 20px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#CBB89D;
    color:white;
}

th, td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

body{
    font-family:'Open Sans', sans-serif;
}

h1, h2{
    font-family:'Playfair Display', serif;
}

h3, nav a{
    font-family:'Roboto', sans-serif;
}

label, input, textarea, button, p{
    font-family:'Inter', sans-serif;
}

.brand-name{
    font-family:'Rouge Script', cursive;
    font-size:34px;
    color:#5C5045;
    display:block;
    margin-top:6px;
    line-height:1;
}