.promotions {
    display: grid;
    grid-template-columns: [izq] 1fr [col_1] 1fr [der];
    grid-template-rows: [sup] 1fr [row_1] 1fr [inf];

    .offers {
        background-color: green;
        h2 { padding-left: 12px;}

        section {
            display: flex; justify-content: space-around;

        }

        section div {
            width: 64px; height: 64px;
            background-color: #fcf8f6;
            align-content: center; text-align: center;
            font-size: 24px; font-weight: bold;
            border: solid 1px gray;
            border-radius: 4px;
        }
    }

    .products {
        background-color: aqua;
    }

    .photo {
        background-color: violet;
        grid-column: col_1 / der;
        grid-row: sup / inf;
    }
}