.promotions {
    .specials {
        background-color: #D85B7B;
        justify-items: center;
        h2, h3, section {padding: 16px;}
        h2, h3 {color: white;}
        h2 {font: normal 36px 'Cormorant Garamond';}
        h3 {font: normal 28px 'Cormorant Garamond';}

        section {
            width: 100%;
            display: flex; justify-content: space-around;

            div {
                display: flex; flex-direction: column;
                justify-content: center;
                background-color: white; padding: 8px;
                font: normal 32px 'Cormorant Garamond';
                color: #D85B7B; text-align: center;
                width: 144px; height: 108px; border-radius: 8px;
                margin: 32px;
            }
        }
    }

    .advertising {
        margin: 32px; background-color: #FFE4EB;
        display: grid; border-radius: 28px;
        grid-template-columns: [izq] 128px [h_center] 1fr [der];
        grid-template-rows: [sup] 64px [v_center] 32px [inf];
        div {margin: 0; border-radius: 0;}

        .icon {
            grid-row: sup / inf;
            display: flex; justify-content: center;
            align-items: center;
            img {width: 48%; background-color: #D85B7B;
                border-radius: 12px; padding: 8px;}
        }

        .t1 {
            display: flex; align-self: end;
            margin-bottom: 12px; font-size: 1.5rem;
            color: black;
        }

        .t2 {
            color: black;
        }
    }
}