
/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{
    font-family:Arial, sans-serif;
    background:#F5F0E8;
    color:#5C5045;
}

/* HEADER */

header{
    background:linear-gradient(to right, #E8DCCB, #DCCBB8);
    padding:20px;
    text-align:center;
}

/* LOGO */

.logo img{
    width:90px;
}

/* MENU */

nav{
    margin-top:15px;
}

nav a{
    text-decoration:none;
    color:#5C5045;
    margin:10px;
    font-weight:bold;
}

/* IMAGENES */

img{
    width:100%;
}

/* BOTONES */

button{
    background:#CBB89D;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
}

/* CARDS */

.card{
    background:white;
    width:260px;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

.card img{
    height:320px;
    object-fit:cover;
    border-radius:10px;
}

/* FOOTER */

footer{
    background:#DCCBB8;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* RESPONSIVE */

@media(max-width:768px){

    nav a{
        display:block;
        margin:15px 0;
    }

}
