.us {
    .history {
        background-color: #FFE4EB;
        display: flex; flex: 1;

        div {
            margin: 0px 12px;
            h3, h2, p {margin: 16px;}
            p {font: normal 20px 'Cormorant Garamond'}
            img {width: 80%;}
        }

        div img {border-radius: 40px; height: 100%;}
        
    }

    .work {
        justify-items: center;
        background-color: #FFF7F5;

        ul {
            margin-top: 4px;
            width: 100%; display: flex; 
            justify-content: space-around;
            li {display: flex;}
            img { width: 132px; height: 100%;
                border-radius: 20px;}
        }

        h2, h3, ul {margin: 16px;}
    }

    .valuables {
        justify-items: center;
        background-color: #FEF2F2;

        ul {
            display: flex; width: 100%;
            justify-content: space-evenly;
            gap: 12px;
            li {
                list-style: none; background-color: white;
                justify-items: center; padding: 12px;
                border-radius: 32px;
                h4 {color: black; font: normal 20px 'Cormorant Garamond';
                    margin-bottom: 8px; text-align: center;}
                p {color: black; font: normal 14px 'Cormorant Garamond';
                    text-align: center;}
            }
        }

        h2, h3, ul {margin: 16px;}
    }

    .history, .work, .valuables {
        padding: 4% 2%;
        h3 {margin-left: 24px; color: #D85B7B; 
            font: normal 24px 'Cormorant Garamond';}
        h2 {color: #000; font: normal 44px 'Cormorant Garamond';
            span {color: #AD4962;}}
    }
}